

.login-icon {
  color: rgb(17, 110, 218);
  transform: scale(2);
  min-width: 50px;
  text-align: center;
  /* width: 30px; */
  left: -5px;
    margin-top: 22px;
  position: absolute;
  z-index: 2;
}




.password-toggle{
  width: 20px;
  height: 20px;
  transform: scale(1.6);
  position: absolute;
  margin-top: 24px;
  right: 10px;
  margin-bottom: auto;
}
.login-form-links{
  margin-top: 10px;
  color: #fff;
}
.signup-link{
  position: relative;
  left: 10px;
  text-decoration: underline;
  font-size: 1.2rem;
  color: rgb(20, 179, 232);
}




.error-message{
  color: rgb(173, 24, 24);
  padding: 4px 8px;
}

.persist-field{
  width: 25px;
  height: 20px;
  margin-left: 5px;
}

@media (max-width: 950px) {


.password-toggle{
  transform: scale(0.9);
}

.login-icon
 {
  width: 20px;
  aspect-ratio: 1;
  /* height: 30px; */
  margin-top: 20px;
  transform: scale(1.7);
  left: -5px;
  position: absolute;
  margin-bottom: 6px;

}

.login-form-links{
  font-size: .8rem;
}
.signup-link{
  font-size: 1rem;
}

}